.flex-container {
    display: flex;
    height: 90vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.flex-title {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.flex-title p {
    font-family: Lato;
    font-weight: bold;
    font-size: 32px;
    color: #484848;
}

.flex-cards {
    flex: 7;
    display: flex;
    width: 1500px;
    align-items: center;
}

.card {
    flex: 5;
    text-align: center;
    background-color: white;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 22px -2px rgba(77, 77, 77, 0.75);
    -moz-box-shadow: 0px 0px 22px -2px rgba(77, 77, 77, 0.75);
    box-shadow: 0px 0px 22px -2px rgba(77, 77, 77, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55vh;
    border-left: solid 5px #E7F1F5;
    border-right: solid 5px #E7F1F5;
    border-bottom: solid 5px #E7F1F5;
    width: 45%;
}

.spacer {
    flex: 1;
}

.card-button {
    flex: 2;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card-btn {
    width: 65%;
    height: 40%;
    border-radius: 25px;
    background-color: #00C5E5;
    transition: 0.5s;
    cursor: pointer;
}

.card-btn:hover{
    background-color: white;
    border: 1px solid #00C5E5;
}

.card-btn:hover p{
    color: black;
}

.card-btn p {
    font-family: Lato;
    font-size: 18px;
    color: white;
    transition: 0.5s;
}

.flex-contact {
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 380px;
}

.card-img-flex {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img {
    margin-top: 20px;
    width: 309px;
    height: auto;
}

.card-title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7F1F5;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-price {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-price p {
    font-family: RobotoCondensed;
    font-size: 40px;
}

.card-description {
    flex: 4;
    display: flex;
    align-content: center;
    text-align: center;
}

.card-description p {
    font-family: Lato;
    font-size: 18px;
    width: 60%;
    margin-left: 20%;
}

.card-title p {
    font-family: RobotoCondensed;
    font-weight: bold;
    font-size: 25px;
}

.contact-title {
    flex: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.title {
    flex: 1;
}

.title p {
    font-family: Lato;
    font-size: 21px;
    font-weight: bold;
    color: white;
}

.subtitle {
    flex: 1;
}

.subtitle p {
    font-family: Lato;
    font-size-adjust: 16px;
    color: white;
}

.contact-button {
    flex: 2;
}

.contact-btn {
    width: 80%;
    border-radius: 25px;
    margin-left: 10%;
    height: 90%;
    background-color: #00C5E5;
    cursor: pointer;
    transition: 0.5s;
}

.contact-btn p {
    font-family: Lato;
    font-size: 18px;
    color: white;
    transition: 0.5s;
}

@media (max-width: 1520px) {
    .flex-cards {
        width: 1260px;
    }
}

@media (max-width: 1280px) {
    .flex-container {
        display: flex;
        height: auto;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .flex-title p {
        font-size: 28px;
        margin-bottom: 50px;
    }
    .flex-cards {
        flex-direction: column;
        width: auto;
    }
    .card {
        height: 400px;
        width: 600px;
        margin-bottom: 50px;
    }
}

@media (max-width: 660px) {
    .flex-title p {
        font-size: 24px;
        text-align: center;
    }
    .flex-contact {
        width: 310px;
    }
    .flex-cards{
        min-height: 1600px;
    }
    .card {
        flex: 6;
        width: 300px;
        margin-bottom: 10px;
    }
    .card-img {
        margin-top: 20px;
        width: 40%;
    }
    .card-title p{
        font-size: 20px;
    }
    .card-description p {
        width: 70%;
        margin-left: 15%;
    }
    .title p {
        font-size: 18px;
    }
    .subtitle p {
        font-size: 14px;
    }
}