.title-flexbox{
    display: flex;
    width: 100%;
    height: 15vh;
    margin-top: 1%;
}

.left-title{
    flex:7;
}

.right-title{
    flex: 8;
}

.right-title p{
    font-family: Lato;
    font-weight: bold;
    font-size: 72px;
    color: rgb(100, 99, 99);
    letter-spacing: 0.03em;
    padding-right: 10%;

}

.icons{
    margin-top: 20vh;
    width: 60%;
    margin-left: 20%;
}

.flex-row{
    display: flex;
    width: 100%;
    margin-top: 10%;
}

.row-item{
    flex: 1;
}

.row-item p{
    margin-top: 10%;
    font-family: LatoRegular;
    font-size: 14px;
    letter-spacing: 0.05em;
    width: 80%;
    margin-left: 10%;
    color: rgb(100, 99, 99);
}

.icon-img{
    width: 40%;
    margin-left: 30%;
    height: auto;
}

.text-image{
    width: 100%;
    display: flex;
    margin-top: 25vh;
    margin-bottom: 25vh;
}

.text-image-flex{
    flex: 1;
}

.text-image-flex p{
    font-family: LatoRegular;
    font-size: 24px;
    color: rgb(100, 99, 99);
    letter-spacing: 0.05em;
    margin-top: 7vh;
    width: 80%;
    margin-left: 20%;
}

.text-image-flex p.text-image-title{
    font-family: Lato;
    font-weight: bold;
    font-size: 72px;
    color: rgb(100, 99, 99);
    letter-spacing: 0.03em;
}

.text-image-flex img{
    width: 70%;
    height: auto;
    margin-left: 15%;
}