<!-- <div class="title-flexbox">
    <div class="left-title">
    </div>
    <div class="right-title">
        <p>A qué nos dedicamos</p>
    </div>
</div>
<div class="icons">
    <div class="flex-row">
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/smartphone.svg">
            <p>
                Diseñamos y desarrollamos aplicaciones móviles de manera eficiente y rapida utilizando tecnologias de
                ultima generación
            </p>
        </div>
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/monitor.svg">
            <p>
                Llevamos a cabo tus proyectos web desde las primeras etapas de diseño hasta su puesta en producción.
            </p>
        </div>
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/eye.svg">
            <p>
                Nuestro equipo de diseño se enfoca en generar interfaces modernas e intuitivas para llevar la
                experiencia de usuario al siguiente nivel.
            </p>
        </div>
    </div>
    <div class="flex-row">
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/tool.svg">
            <p>
                Llevamos a cabo el 100% del mantenimiento de los productos que desarrollamos, garantizando su correcto
                funcionamiento.
            </p>
        </div>
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/thumbs-up.svg">
            <p>
                Transformamos tus redes sociales en herramientas publicitarias, potenciando el alcance de nuestros
                clientes.
            </p>
        </div>
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/pie-chart.svg">
            <p>
                Realizamos y ejecutamos planes de estrategias de marketing, con el fin de impulsar empresas
                emprendedoras hacia nuevos horizontes
            </p>
        </div>
    </div>
</div> -->
<div class="text-image">
    <div class="text-image-flex">
        <span class="text-image-title">¿Porque elegirnos?</span>
        <div class="text-image-description-container">
            <p>
                En Even trabajamos con el fin de brindarle a nuestros clientes la mejor experiencia con nuestro
                servicio. Ofrecemos las herramientas necesarias para llevar tu negocio a otro nivel, aplicando
                conocimientos y tecnologías innovadoras en cada área trabajada, entregando productos de última
                tecnología.
            </p>
            <p>
                Ofrecemos una personalización amplia a la hora de definir un paquete, brindando una amplia gama de
                opciones para que nuestros clientes logren llevar a cabo sus ideas y proyectos, de la forma que ellos
                desean.
            </p>
        </div>
    </div>
    <div class="image-text-flex">
        <img src="../../../../assets/svg/ladder.svg" />
    </div>
</div>