<div class="title-flexbox">
    <div class="left-title">
    </div>
    <div class="right-title">
        <p>¿Lorem ipsum dolor sit amet consectectur?</p>
    </div>
</div>
<div class="icons">
    <div class="flex-row">
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/user.svg">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </p>
        </div>
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/bar-chart.svg">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </p>
        </div>
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/settings.svg">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </p>
        </div>
    </div>
    <div class="flex-row">
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/pie-chart.svg">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </p>
        </div>
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/volume.svg">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </p>
        </div>
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/mail.svg">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </p>
        </div>
    </div>
</div>
<div class="text-image">
    <div class="text-image-flex">
        <p class="text-image-title">¿Lorem ipsum dolor?</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. 
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. 
        </p>
    </div>
    <div class="text-image-flex">
        <img src="../../../../assets/svg/ladder.svg" />
    </div>
</div>