<div class="flex-container">
    <div class="flex-title">
        <p>Nuestros Templates</p>
        <div class="underline"></div>
    </div>
    <div class="flex-items-container">
        <div class="flex-items">
            <img class="flex-img" src="../../../../assets/img/mockup-singlepage-blue.png" alt="Mockup Single page web application">
        </div>
        <div class="flex-items">
            <img class="flex-img" src="../../../../assets/img/mockup-advanced-black.png" alt="Mockup Advanced web application">
        </div>
        <div class="flex-items">
            <img class="flex-img" src="../../../../assets/img/mockup-ecommerce-blue.png" alt="Mockup e-commerce web application">
        </div>
    </div>
</div>