<div class="mainpage">
    <div class="headerSection">
        <div class="flex-div">
            <div class="left-col">
                <img src="../../../assets/img/logo_even.png" class="evenLogo" />
            </div>
            <div class="right-col">
                <div class="menuBtn firstMenuBtn">
                    <p class="navtxt">NOSOTROS</p>
                </div>
                <div class="menuBtn">
                    <p class="navtxt">PLANES</p>
                </div>
                <div class="menuBtn">
                    <p class="navtxt">SERVICIOS</p>
                </div>
                <div class="menuBtn">
                    <p class="navtxt">CONTACTO</p>
                </div>
            </div>
        </div>
        <div class="intro">
            <div class="introText">
                <p class="introTitle">Lorem ipsum dolor sit amet consectetur</p>
                <p class="introDesc">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat
                    nulla pariatur. </p>
                <button (click)="clicked()" class="skybtn">
                    <p class="buttonText">VER PLANES</p>
                </button>
            </div>
            <div class="introImgContainer">
                <img src="../../../assets/svg/temwork.svg" class="introImg" />
            </div>
        </div>
        <section class="waves">
            <div class="wave wave1"></div>
            <!-- <div class="wave wave2"></div> -->
            <div class="wave wave3"></div>
            <div class="wave wave4"></div>
        </section>
    </div>
    <app-choose-us></app-choose-us>
    <div class="plans-contact">
        <section class="inverse-waves">
            <div class="wave-inverse wave1"></div>
            <!-- <div class="wave wave2"></div> -->
            <div class="wave-inverse wave3"></div>
            <div class="wave-inverse wave4"></div>
            <app-plans></app-plans>
            <app-contact></app-contact>
        </section>
    </div>
</div>