<div class="mainpage">
    <div class="headerSection">
        <app-navbar (someEvent)="somefunction($event)"></app-navbar>
        <!-- <div class="flex-div">
            <div class="left-col">
                <img src="../../../assets/img/logo_even.png" class="evenLogo" />
            </div>
            <div class="right-col">
                <div class="menuBtn firstMenuBtn">
                    <p class="navtxt">NOSOTROS</p>
                </div>
                <div class="menuBtn" (click)="scroll(planes)">
                    <p class="navtxt">PLANES</p>
                </div>
                <div class="menuBtn">
                    <p class="navtxt">SERVICIOS</p>
                </div>
                <div class="menuBtn" (click)="scroll(contacto)">
                    <p class="navtxt">CONTACTO</p>
                </div>
            </div>
        </div> -->
        <div class="intro">
            <div class="introText">
                <p class="introTitle">Transformamos tus ideas en realidad</p>
                <p class="introDesc">
                    Brindamos la fuerza de desarrollo que necesitas para realizar tus proyectos y sueños.
                </p>
                <button class="skybtn" (click)="scroll('nosotros')">
                    <p class="buttonText">COMENZAR</p>
                </button>
            </div>
            <div class="introImgContainer">
                <img src="../../../assets/svg/temwork.svg" class="introImg" />
            </div>
        </div>
        <section class="waves">
            <div class="wave wave1"></div>
            <!-- <div class="wave wave2"></div> -->
            <div class="wave wave3"></div>
            <div class="wave wave4"></div>
        </section>
    </div>
    <div #servicios>
        <app-our-services></app-our-services>
    </div>
    <div #nosotros>
        <app-choose-us></app-choose-us>
    </div>
    <div class="plans-contact">
        <section class="inverse-waves">
            <div class="wave-inverse wave1"></div>
            <!-- <div class="wave wave2"></div> -->
            <div class="wave-inverse wave3"></div>
            <div class="wave-inverse wave4"></div>
        </section>
        <div #planes style="padding-top: 3vh;">
            <app-plans style="z-index: 3; position: relative;"></app-plans>
        </div>
        <div #contacto>
            <app-contact style="z-index: 3; position: relative;"></app-contact>
        </div>
        <section class="waves">
            <div class="wave wave1"></div>
            <!-- <div class="wave wave2"></div> -->
            <div class="wave wave3"></div>
            <div class="wave wave4"></div>
        </section>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>