<div class="title-flexbox">
    <div class="left-title">
    </div>
    <div class="right-title">
        <p>A qué nos dedicamos</p>
    </div>
</div>
<div class="icons">
    <div class="flex-row">
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/mobile.png">
            <p>
                Desarrollamos aplicaciones mobiles utilizando tecnologías de ultima generación, nos enfocamos en
                concluir nuestro trabajo de una manera eficaz y eficiente.
            </p>
        </div>
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/web.png">
            <p>
                Aseguramos que sus proyectos web sean cuidadosamente trabajados desde el inicio, logrando una excelente
                puesta en escena del resultado final.
            </p>
        </div>
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/ui.png">
            <p>
                Ofrecemos un equipo de diseño enfocado en la creación de interfaces modernas e intuitivas con el fin de
                lograr una experiencia única para el usuario.
            </p>
        </div>
    </div>
    <div class="flex-row">
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/tool.png">
            <p>
                Contamos con un equipo que llevara a cabo el 100% del mantenimiento de los
                productos que desarrollamos, garantizando su correcto funcionamiento.
            </p>
        </div>
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/thumbs-up.svg">
            <p>
                Transformamos redes sociales en herramientas publicitarias, facilitándole su allegada a los clientes
                logrando la fidelización de los mismos.
            </p>
        </div>
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/rocket.png">
            <p>
                Ofrecemos la creación y ejecución de planes estratégicos de marketing para su marca. Garantizamos el
                incremento de horizontes para los nuevos emprendedores.
            </p>
        </div>
    </div>
</div>