<div class="title-flexbox">
    <div class="left-title">
    </div>
    <div class="right-title">
        <p>A qué nos dedicamos</p>
    </div>
</div>
<div class="icons">
    <div class="flex-row">
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/mobile.png">
            <p>
                Diseñamos y desarrollamos aplicaciones móviles de manera eficiente y rapida utilizando tecnologias de
                ultima generación
            </p>
        </div>
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/web.png">
            <p>
                Llevamos a cabo tus proyectos web desde las primeras etapas de diseño hasta su puesta en producción.
            </p>
        </div>
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/eye.svg">
            <p>
                Nuestro equipo de diseño se enfoca en generar interfaces modernas e intuitivas para llevar la
                experiencia de usuario al siguiente nivel.
            </p>
        </div>
    </div>
    <div class="flex-row">
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/tool.svg">
            <p>
                Llevamos a cabo el 100% del mantenimiento de los productos que desarrollamos, garantizando su correcto
                funcionamiento.
            </p>
        </div>
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/thumbs-up.svg">
            <p>
                Transformamos tus redes sociales en herramientas publicitarias, potenciando el alcance de nuestros
                clientes.
            </p>
        </div>
        <div class="row-item">
            <img class="icon-img" src="../../../../assets/icons/pie-chart.svg">
            <p>
                Realizamos y ejecutamos planes de estrategias de marketing, con el fin de impulsar empresas
                emprendedoras hacia nuevos horizontes
            </p>
        </div>
    </div>
</div>