<div class="flex-container">
    <div class="flex-title"><p>¿Con qué servicios podemos ayudarte?</p></div>
    <div class="flex-cards">
        <div class="card" (click)="go('web')">
            <div class="card-img-flex">
                <img class="card-img" src="../../../../assets/icons/contact-web.png" />
            </div>    
            <div class="card-title">
                <p>Un sitio web</p>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="card"(click)="go('mobile')">
            <div class="card-img-flex">
                <img class="card-img" src="../../../../assets/icons/contact-mobile.png" />
            </div>
            <div class="card-title">
                <p>Una aplicación</p>
            </div>
        </div>
    </div>
    <div class="flex-contact">
        <div class="contact-title">
            <div class="title">
                <p>¿Tienes otro proyecto en mente?</p>
            </div>
            <div class="subtitle">
                <p>Pide tu presupuesto personalizado</p>
            </div>
        </div>
        <div class="contact-button">
            <button class="contact-btn"><p>Contactar</p></button>
        </div>
    </div>
</div>