<div class="flex-div">
    <div class="left-col">
        <img src="../../../assets/img/logo_even.png" class="evenLogo" />
    </div>
    <div class="right-col">
        <div class="menuContainer">
            <p class="navtxt">NOSOTROS</p>
            <p class="navtxt">PLANES</p>
            <p class="navtxt">SERVICIOS</p>
            <p class="navtxt">CONTACTO</p>
            <!-- <div class="menuBtn">
            </div>
            <div class="menuBtn">
            </div>
            <div class="menuBtn">
            </div>
            <div class="menuBtn">
            </div> -->
        </div>
    </div>