<div class="rows-container">
    <div class="detail-title">
        <img #wheel class="right-wheel" src="../../../../assets/img/tuerca.png" />
        <div class="title-content">
            <p class="title-text">Servicios</p>
            <p class="subtitle-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla nibh eleifend
                ligula posuere, lobortis luctus lorem suscipit. Phasellus consequat egestas massa,
                volutpat mollis magna porta vitae. Sed tempus dolor ultricies nisi aliquet, sit amet fringilla nisi
                placerat. Curabitur non ipsum at urna auctor eleifend. Nulla pharetra nulla tortor, vel
                malesuada ligula fringilla id. Maecenas in ante luctus, consectetur urna vel, posuere arcu.</p>
        </div>
    </div>
</div>
<div class="rows-container">
    <div #mobile class="flex-section">
        <div class="img-flex">
            <img class="img-service" src="../../../../assets/icons/mobile.png">
        </div>
        <div class="text-flex">
            <p class="flex-title">
                Aplicaciones Móviles
            </p>
            <p class="flex-description">
                Desarrollamos aplicaciones móviles utilizando nuevas tecnologías de ultima generación, nos enfocamos en
                concluir nuestro trabajo de una manera eficaz y eficiente. En esta área nos desempeñamos exitosamente
                con: Expo, que consiste de un conjunto de herramientas a utilizar durante el desarrollo en react native
                que permiten el avance del proyecto a altas velocidades, Framework React Native y su toolkit, sirve para
                crear aplicaciones móviles nativas utilizando el lenguaje de programación javasrcript y JSX
            </p>
        </div>
    </div>
</div>
<div class="rows-container">
    <img #wheel class="left-small-wheel" src="../../../../assets/img/tuerca.png" />
    <div #web class="flex-section rev">
        <div class="text-flex first">
            <p class="flex-title">
                Desarrollo Web
            </p>
            <p class="flex-description">
                Aseguramos que sus proyectos web sean cuidadosamente trabajados desde el inicio, logrando una excelente
                puesta en escena del resultado final. Trabajamos con Angular 9, ya que esta herramienta cuenta con un
                futuro estable y no sufre con cambios frecuentes, lo que le permite al programador un mejor desempeño en
                el área para así brindarle eficazmente lo que desea. Asimismo, al ser un framework que genera SPA’s,
                estas renderizan de forma muy rápida y tienen una velocidad de interacción alta, sin olvidar que permite
                la re utilización de componentes.
            </p>
        </div>
        <div class="img-flex">
            <img class="img-service" src="../../../../assets/icons/web.png">
        </div>
    </div>
</div>
<div class="rows-container">
    <div class="flex-container-wheel">
        <img #wheel class="right-small-wheel" src="../../../../assets/img/tuerca.png" />
        <div #ui class="flex-section">
            <div class="img-flex">
                <img class="img-service" src="../../../../assets/icons/ui.png">
            </div>
            <div class="text-flex">
                <p class="flex-title">
                    UI / UX
                </p>
                <p class="flex-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla nibh eleifend ligula posuere,
                    lobortis luctus lorem suscipit. Phasellus consequat egestas massa,
                    volutpat mollis magna porta vitae.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="rows-container">
    <div #support class="flex-section rev">
        <div class="text-flex first">
            <p class="flex-title">
                Mantenimiento & Support
            </p>
            <p class="flex-description">
                Contamos con un equipo conformado por desarrolladores Back-end, Front-End y Mobile, quienes se
                encargaran de llevar a cabo el 100% del mantenimiento de los productos desarrollados, garantizando su
                correcto funcionamiento.
            </p>
        </div>
        <div class="img-flex">
            <img class="img-service" src="../../../../assets/icons/tool.png">
        </div>
    </div>
</div>
<div class="rows-container">
    <div #community class="flex-section">
        <div class="img-flex">
            <img class="img-service" src="../../../../assets/icons/speaker.png">
        </div>
        <div class="text-flex">
            <p class="flex-title">
                Community management
            </p>
            <p class="flex-description">
                Transformamos redes sociales en herramientas publicitarias, facilitándole su allegada a los clientes,
                logrando la nacionalización de los mismos mediante un ida y vuelta.
                Ofrecemos estrategias para la dirección de redes sociales, llamado a la acción, planificación de
                posteos, diseño de contenidos y SEO.
            </p>
        </div>
    </div>
</div>
<div class="rows-container">
    <div #marketing class="flex-section rev">
        <img #wheel class="left-wheel" src="../../../../assets/img/tuerca.png" />
        <div class="text-flex first">
            <p class="flex-title">
                Marketing
            </p>
            <p class="flex-description">
                Ofrecemos la creación y ejecución de planes estratégicos de marketing para su marca, siendo estos
                Marketing directo, digital, de contenido y convencional.
                Garantizamos el incremento de horizontes para los nuevos emprendedores.
                Nos adaptamos a su presupuesto y creamos estrategias acorde a sus necesidades, haciendo un estudio del
                mercado objetivo de su empresa, marca, o servicio.
            </p>
        </div>
        <div class="img-flex">
            <img class="img-service" src="../../../../assets/icons/brain.png">
        </div>
    </div>
    <div class="contact-container">
        <div class="contact">
            <div class="contact-text">
                <p>Comenza tu proyecto hoy mismo!</p>
            </div>
            <div class="contact-button">
                <button class="contact-btn" routerLink="/contacto/plataforma">
                    <p>Contactanos</p>
                </button>
            </div>
        </div>
    </div>
</div>