<div class="rows-container">
    <div class="detail-title">
        <img #wheel class="right-wheel" src="../../../../assets/img/tuerca.png" />
        <div class="title-content">
            <p class="title-text">Servicios</p>
            <p class="subtitle-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla nibh eleifend ligula posuere, lobortis luctus lorem suscipit. Phasellus consequat egestas massa,
                volutpat mollis magna porta vitae. Sed tempus dolor ultricies nisi aliquet, sit amet fringilla nisi placerat. Curabitur non ipsum at urna auctor eleifend. Nulla pharetra nulla tortor, vel
                malesuada ligula fringilla id. Maecenas in ante luctus, consectetur urna vel, posuere arcu.</p>
        </div>
    </div>
</div>
<div class="rows-container">
    <div class="flex-section">
        <div class="img-flex">
            <img class="img-service" src="../../../../assets/icons/mobile.png">
        </div>
        <div class="text-flex">
            <p class="flex-title">
                Aplicaciones Móviles
            </p>
            <p class="flex-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla nibh eleifend ligula posuere, lobortis luctus lorem suscipit. Phasellus consequat egestas massa,
                volutpat mollis magna porta vitae.
            </p>
        </div>
    </div>
</div>
<div class="rows-container">
    <div class="flex-section">
        <div class="text-flex first">
            <p class="flex-title">
                Desarrollo Web
            </p>
            <p class="flex-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla nibh eleifend ligula posuere, lobortis luctus lorem suscipit. Phasellus consequat egestas massa,
                volutpat mollis magna porta vitae.
            </p>
        </div>
        <div class="img-flex">
            <img class="img-service" src="../../../../assets/icons/web.png">
        </div>
    </div>
</div>
<div class="rows-container">
    <div class="flex-section">
        <div class="img-flex">
            <img class="img-service" src="../../../../assets/icons/ui.png">
        </div>
        <div class="text-flex">
            <p class="flex-title">
                UI / UX
            </p>
            <p class="flex-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla nibh eleifend ligula posuere, lobortis luctus lorem suscipit. Phasellus consequat egestas massa,
                volutpat mollis magna porta vitae.
            </p>
        </div>
    </div>
</div>
<div class="rows-container">
    <div class="flex-section">
        <div class="text-flex first">
            <p class="flex-title">
                Mantenimiento & Support
            </p>
            <p class="flex-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla nibh eleifend ligula posuere, lobortis luctus lorem suscipit. Phasellus consequat egestas massa,
                volutpat mollis magna porta vitae.
            </p>
        </div>
        <div class="img-flex">
            <img class="img-service" src="../../../../assets/icons/tool.png">
        </div>
    </div>
</div>
<div class="rows-container">
    <div class="flex-section">
        <div class="img-flex">
            <img class="img-service" src="../../../../assets/icons/speaker.png">
        </div>
        <div class="text-flex">
            <p class="flex-title">
                Community management
            </p>
            <p class="flex-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla nibh eleifend ligula posuere, lobortis luctus lorem suscipit. Phasellus consequat egestas massa,
                volutpat mollis magna porta vitae.
            </p>
        </div>
    </div>
</div>
<div class="rows-container">
    <div class="flex-section">
        <div class="text-flex first">
            <p class="flex-title">
                Marketing
            </p>
            <p class="flex-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla nibh eleifend ligula posuere, lobortis luctus lorem suscipit. Phasellus consequat egestas massa,
                volutpat mollis magna porta vitae.
            </p>
        </div>
        <div class="img-flex">
            <img class="img-service" src="../../../../assets/icons/brain.png">
        </div>
    </div>
</div>