@media (min-width: 1281px) {
    .contact-form{
        display: flex;
        width: 60%;
        margin-left: 20%;
        flex-direction: column;
        height: 85vh;
        margin-top: 25vh;
    }
    
    .form-title{
        flex: 2;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    .title-flex{
        flex: 1;
        text-align: center;
    }
    
    .desc-flex{
        flex: 1;
        text-align: center;
    }
    
    .form-fields{
        flex: 1;
        display: flex;
    }
    
    .name-flex{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex: 1;
        
    }
    
    .email-flex{
        flex: 1;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .phone-flex{
        flex: 1;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .flex-input{
        padding-left: 10%;
        background-color: white;
        border-radius: 50px;
        font-family: LatoRegular;
        font-size: 22px;
        letter-spacing: 0.05em;
        color: gray;
        height: 60%;
        width: 70%;
        -webkit-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
    }
    
    .form-message{
        flex: 3;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .message-area{
        background-color: white;
        width: 87%;
        height: 86%;
        border-radius: 30px;
        padding-top: 1%;
        padding-left: 3.2%;
        padding-right: 3.2%;
        resize: none;
        font-family: LatoRegular;
        font-size: 22px;
        letter-spacing: 0.05em;
        line-height: 1.5em;
        color: gray;
        -webkit-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
    }
    
    .form-button{
        display: flex;
        flex: 1;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .button-flex {
        width: 93%;
        height: 50%;
        border-radius: 50px;
        background-color: rgb(112, 226, 255);
        cursor: pointer;
    }
    
    .button-flex p {
        color: white;
        font-family: LatoRegular;
        font-size: 22px;
        letter-spacing: 0.1em;
    }
    
    .title-text{
        font-family: Lato;
        font-size: 54px;
        font-weight: bold;
        color: white;
        letter-spacing: 0.05em;
    }
    
    .title-desc{
        font-family: Lato;
        width: 50%;
        margin-left: 25%;
        font-size: 24px;
        color: white;
        letter-spacing: 0.05em;
    }
}
/* ------------------------------------------------------------------------- */
@media (min-width: 1025px) and (max-width: 1280px) {
    .contact-form{
        display: flex;
        width: 80%;
        margin-left: 10%;
        flex-direction: column;
        height: 85vh;
        margin-top: 25vh;
    }
    
    .form-title{
        flex: 2;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    .title-flex{
        flex: 1;
        text-align: center;
    }
    
    .desc-flex{
        flex: 1;
        text-align: center;
    }
    
    .form-fields{
        flex: 1;
        display: flex;
    }
    
    .name-flex{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex: 1;
        
    }
    
    .email-flex{
        flex: 1;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .phone-flex{
        flex: 1;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .flex-input{
        padding-left: 10%;
        background-color: white;
        border-radius: 50px;
        font-family: LatoRegular;
        font-size: 18px;
        letter-spacing: 0.05em;
        color: gray;
        height: 40%;
        width: 70%;
        -webkit-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
    }
    
    .form-message{
        flex: 3;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .message-area{
        background-color: white;
        width: 87%;
        height: 86%;
        border-radius: 30px;
        padding-top: 1%;
        padding-left: 3.2%;
        padding-right: 3.2%;
        resize: none;
        font-family: LatoRegular;
        font-size: 18px;
        letter-spacing: 0.05em;
        line-height: 1.5em;
        color: gray;
        -webkit-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
    }
    
    .form-button{
        display: flex;
        flex: 1;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .button-flex {
        width: 93%;
        height: 50%;
        border-radius: 50px;
        background-color: rgb(112, 226, 255);
        cursor: pointer;
    }
    
    .button-flex p {
        color: white;
        font-family: LatoRegular;
        font-size: 22px;
        letter-spacing: 0.1em;
    }
    
    .title-text{
        font-family: Lato;
        font-size: 42px;
        font-weight: bold;
        color: white;
        letter-spacing: 0.05em;
    }
    
    .title-desc{
        font-family: Lato;
        width: 50%;
        margin-left: 25%;
        font-size: 18px;
        color: white;
        letter-spacing: 0.05em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .contact-form{
        display: flex;
        width: 80%;
        margin-left: 10%;
        flex-direction: column;
        height: 85vh;
        margin-top: 25vh;
    }
    
    .form-title{
        flex: 2;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    .title-flex{
        flex: 1;
        text-align: center;
    }
    
    .desc-flex{
        flex: 1;
        text-align: center;
    }
    
    .form-fields{
        flex: 1;
        display: flex;
    }
    
    .name-flex{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex: 1;
        
    }
    
    .email-flex{
        flex: 1;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .phone-flex{
        flex: 1;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .flex-input{
        padding-left: 10%;
        background-color: white;
        border-radius: 50px;
        font-family: LatoRegular;
        font-size: 18px;
        letter-spacing: 0.05em;
        color: gray;
        height: 40%;
        width: 70%;
        -webkit-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
    }
    
    .form-message{
        flex: 3;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .message-area{
        background-color: white;
        width: 87%;
        height: 86%;
        border-radius: 30px;
        padding-top: 1%;
        padding-left: 3.2%;
        padding-right: 3.2%;
        resize: none;
        font-family: LatoRegular;
        font-size: 18px;
        letter-spacing: 0.05em;
        line-height: 1.5em;
        color: gray;
        -webkit-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
    }
    
    .form-button{
        display: flex;
        flex: 1;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .button-flex {
        width: 93%;
        height: 50%;
        border-radius: 50px;
        background-color: rgb(112, 226, 255);
        cursor: pointer;
    }
    
    .button-flex p {
        color: white;
        font-family: LatoRegular;
        font-size: 22px;
        letter-spacing: 0.1em;
    }
    
    .title-text{
        font-family: Lato;
        font-size: 42px;
        font-weight: bold;
        color: white;
        letter-spacing: 0.05em;
    }
    
    .title-desc{
        font-family: Lato;
        width: 50%;
        margin-left: 25%;
        font-size: 18px;
        color: white;
        letter-spacing: 0.05em;
    }
}
