<div class="contact-form">
    <div class="form-title">
        <div class="title-flex">
            <p class="title-text">Contáctanos</p>
        </div>
        <div class="desc-flex">
            <p class="title-desc">Comenza a desarrollar tu proyecto hoy mismo!</p>
        </div>
    </div>
    <div class="form-fields">
        <div class="name-flex">
            <input type="text" class="flex-input" placeholder="Nombre*" />
        </div>
        <div class="email-flex">
            <input type="text" class="flex-input" placeholder="Email*" />
        </div>
        <div class="phone-flex">
            <input type="text" class="flex-input" placeholder="Teléfono" />
        </div>
    </div>
    <div class="form-message">
        <textarea class="message-area" placeholder="Mensaje*"></textarea>
    </div>
    <div class="form-button">
        <button class="button-flex">
            <p>Enviar mensaje</p>
        </button>
    </div>
</div>