/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: RobotoCondensed;
    src: url(../src/assets/fonts/RobotoCondensed/RobotoCondensed-Light.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../src/assets/fonts/Lato/Lato-Light.ttf);
}

@font-face {
    font-family: Lato;
    font-weight: bold;
    src: url(../src/assets/fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: LatoRegular;
    src: url(../src/assets/fonts/Lato/Lato-Regular.ttf);
}