<div class="footer-flex">
    <div class="footer-section">
        <div class="top">
            <img class="footer-logo" src="../../../assets/img/logo_even_blue.png" />
        </div>
        <div class="bot">
            <p>2020 even.la</p>
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
    <div class="footer-section">
        <div class="top">
            <p>Servicios</p>
        </div>
        <div class="bot">
            <p>Programación</p>
            <p>Marketing</p>
            <p>Diseño</p>
        </div>
    </div>
    <div class="footer-section">
        <div class="top">
            <p>Empresa</p>
        </div>
        <div class="bot">
            <p>Lorem ipsum</p>
            <p>Dolor sit</p>
            <p>Amet</p>
        </div>
    </div>
    <div class="footer-section">
        <div class="top">
            <p>Seguinos en</p>
        </div>
        <div class="bot">
            <div class="footer-icons">
                <div class="icon-container">
                    <img class="flex-icon" src="../../../assets/icons/instagram.svg">
                </div>
                <div class="icon-container">
                    <img class="flex-icon" src="../../../assets/icons/facebook.svg">
                </div>
                <div class="icon-container">
                    <img class="flex-icon" src="../../../assets/icons/twitter.svg">
                </div>
            </div>
        </div>
    </div>
</div>
