<!-- asdasdasdas -->
<div class="footer-flex">
    <div class="footer-section">
        <div class="top services">
            <img class="footer-logo" src="../../../assets/img/logo_even_blue.png" />
        </div>
        <div class="bot">
            <p>2020 Even ©</p>
            <p>Todos los derechos reservados</p>
        </div>
    </div>
    <div class="footer-section services">
        <div class="top">
            <p>Servicios</p>
        </div>
        <div class="bot">
            <p>Programación</p>
            <p>Marketing</p>
            <p>Diseño y Desarrollo</p>
        </div>
    </div>
    <div class="footer-section business">
        <div class="top">
            <p>Contacto</p>
        </div>
        <div class="bot">
            <p>info@even.la</p>
            <p>+59895280439</p>
        </div>
    </div>
    <div class="footer-section">
        <div class="top">
            <p>Seguinos</p>
        </div>
        <div class="bot">
            <div class="footer-icons">
                <a class="icon-container" href="https://www.instagram.com/evenuruguay/?hl=es-la">
                    <img class="flex-icon" src="../../../assets/icons/icono_ig.png">
                </a>
                <a class="icon-container" href="https://www.facebook.com/Even-105602381195762">
                    <img class="flex-icon" src="../../../assets/icons/icono_fb.png">
                </a>
                <a class="icon-container" href="https://www.linkedin.com/company/65514540">
                    <img class="flex-icon" src="../../../assets/icons/icono_in.png">
                </a>
            </div>
        </div>
    </div>
</div>
