<div class="plan-flexbox">
    <p class="plan-title">Planes</p>
    <div class="plans">
        <div class="card-container">
            <div class="cards">
                <p class="cards-title">BÁSICO</p>
                <div class="price-container">
                    <p class="cards-price">100 USD</p>
                </div>
                <div class="description-container">
                    <p class="cards-description">
                        Página de su negocio SPA (aplicación de una sola página) que brinda información de sus productos
                        y servicios, además de un medio de contacto a consumidores interesados. Diseño adaptado a todo
                        tipo de dispositivos.
                    </p>
                </div>
                <div class="button-container">
                    <button class="cards-button" (click)="sendMessage()">
                        <p>
                            MÁS INFORMACIÓN
                        </p>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-container card-mid">
            <div class="cards">
                <p class="cards-title">AVANZADO</p>
                <div class="price-container">
                    <p class="cards-price">250 USD</p>
                </div>
                <div class="description-container">
                    <p class="cards-description">
                        Página de su negocio con hasta 5 apartados, que brinda información detallada de sus servicios y
                        productos, en conjunto con un medio de contacto de su preferencia a consumidores interesados.
                        Diseño adaptado a
                        cualquier dispositivo.
                    </p>
                </div>
                <div class="button-container">
                    <button class="cards-button">
                        <p>MÁS INFORMACIÓN</p>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-container card-right">
            <div class="cards">
                <p class="cards-title">PREMIUM</p>
                <div class="price-container">
                    <p class="cards-price">300 USD</p>
                </div>
                <div class="description-container">
                    <p class="cards-description">
                        Página de su negocio con hasta 5 vistas, ofreciendo información de servicios y contacto, en conjunto con e-commerce ( tienda virtual con carrito
                        ), donde podrá comercializar sus productos, integrando métodos de pago como PayPal y
                        MercadoPago.
                    </p>
                </div>
                <div class="button-container">
                    <button class="cards-button">
                        <p>
                            MÁS INFORMACIÓN
                        </p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>